In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Profit1 Prediction.csv")

In [3]:
dataset

        Dell        Hp  Barclays Country        Profit
0    2345.52   9990.88  27192.94     USA  7.312252e+06
1    4256.86  11902.22  29104.28   India  7.949365e+06
2    6168.20  13813.56  31015.62   Spain  8.586478e+06
3    8079.54  15724.90  32926.96     USA  9.223592e+06
4    9990.88  17636.24  34838.30   India  9.860705e+06
5   11902.22  19547.58  36749.64   Spain  1.049782e+07
6   13813.56  21458.92  38660.98     USA  1.113493e+07
7   15724.90  23370.26  40572.32   India  1.177204e+07
8   17636.24  25281.60  42483.66   Spain  1.240916e+07
9   19547.58  27192.94  44395.00     USA  1.304627e+07
10  21458.92  29104.28  46306.34   India  1.368338e+07
11  23370.26  31015.62  48217.68   Spain  1.432050e+07
12  25281.60  32926.96  50129.02     USA  1.495761e+07
13  27192.94  34838.30  52040.36   India  1.559472e+07
14  29104.28  36749.64  53951.70   Spain  1.623184e+07

In [4]:
dataset.columns

Index(['Dell', 'Hp', 'Barclays', 'Country', 'Profit'], dtype='object')

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

        Dell        Hp  Barclays        Profit  Country_Spain  Country_USA
0    2345.52   9990.88  27192.94  7.312252e+06          False         True
1    4256.86  11902.22  29104.28  7.949365e+06          False        False
2    6168.20  13813.56  31015.62  8.586478e+06           True        False
3    8079.54  15724.90  32926.96  9.223592e+06          False         True
4    9990.88  17636.24  34838.30  9.860705e+06          False        False
5   11902.22  19547.58  36749.64  1.049782e+07           True        False
6   13813.56  21458.92  38660.98  1.113493e+07          False         True
7   15724.90  23370.26  40572.32  1.177204e+07          False        False
8   17636.24  25281.60  42483.66  1.240916e+07           True        False
9   19547.58  27192.94  44395.00  1.304627e+07          False         True
10  21458.92  29104.28  46306.34  1.368338e+07          False        False
11  23370.26  31015.62  48217.68  1.432050e+07           True        False
12  25281.60  32926.96  50129.02  1.495761e+07          False         True
13  27192.94  34838.30  52040.36  1.559472e+07          False        False
14  29104.28  36749.64  53951.70  1.623184e+07           True        False

In [7]:
Indep=dataset[['Dell', 'Hp', 'Barclays', 'Country_Spain', 'Country_USA']]

In [8]:
Depent=dataset[["Profit"]]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Indep, Depent, test_size=0.30, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
x_train

In [10]:
from sklearn.svm import SVR
regressor=SVR(kernel="linear")
regressor.fit(x_train,y_train)

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='linear')

In [11]:
regressor.intercept_

array([2919624.7356909])

In [12]:
regressor.n_support_

array([10])

In [13]:
regressor.support_

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
y_pred=regressor.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.9999999972637186

In [15]:
import pickle
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename, 'wb'))

In [16]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[23,45,45,56,89]])
result

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([2932062.01618175])